

<%- include('header'); -%>


<div id="heading" class="box">
    <h1> <%= listTitle %> </h1>
</div>

<div class="box">
  
    <%  for (var i = 0; i < newListItems.length; i++) { %>
        <div class="item">
            <input type="checkbox">
            <p> <%= newListItems[i] %> </p>
        </div>
    <% } %>

 
    <form action="/" method="post" class="item">
        <input type="text" name="newItem" placeholder="New Item">
        <button type="submit">+</button>

        
        <input type="hidden" name="list" value="<%= listTitle === 'Work List' ? 'work' : '' %>">
    </form>
</div>
 

<%- include('footer'); -%>